@model Chef
<h1>Add a Chef</h1>

<form action="AddingChef" method="post">
    <div class="form-row">
        <div class="col-lg-3">
            <input type="text" placeholder="Chef First Name :" class="form-control my-3 p-2" name="ChefFirstName">
            <span asp-validation-for ="ChefFirstName"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-lg-3">
            <input type="text" placeholder="Chef Last Name :" class="form-control my-3 p-2" name="ChefLastName">
            <span asp-validation-for ="ChefLastName"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-lg-3">
            <input type="Date"  class="form-control my-3 p-2" name="DateOfBirth">
            <span asp-validation-for ="DateOfBirth"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-lg-3">
            <input type="Submit" class="form-control my-3 p-2 btn1" name="Name">
            
        </div>
    </div>
</form>