@model Dish

<form action="Edited/@Model.DishId"  method="post">
    <div class="form-row">
        <div class="col-lg-3">
            <input type="text" placeholder="Chef's Name :" class="form-control my-3 p-2" name="Name">
            <span asp-validation-for ="Name"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-lg-3">
            <input type="text" placeholder="Name of Dish:" class="form-control my-3 p-2" name="Chef">
            <span asp-validation-for ="Chef"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-lg-3">
            <input type="number" placeholder="Enter Calories:" class="form-control my-3 p-2" name="Calories">
            <span asp-validation-for ="Calories"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-lg-3">
            <input type="Number" placeholder="How tasty is it?" class="form-control my-3 p-2" name="Tastiness">
            <span asp-validation-for ="Tastiness"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-lg-3">
            <input type="text" placeholder="Description:" class="form-control my-3 p-2" name="Description">
            <span asp-validation-for ="Description"></span>
        </div>
    </div>
    
    <div class="form-row">
        <div class="col-lg-3">
            <input type="submit" value="Edit" class="form-control my-3 p-2 btn1 mt-3 mb-5">
        </div>
    </div>
</form>